<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPWmOqfgbrXdegCZ_LvaO4OBcPWDIYIHs</string>
	<key>GCM_SENDER_ID</key>
	<string>569681414172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icoderzTask</string>
	<key>PROJECT_ID</key>
	<string>finance-management-5d958</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-management-5d958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569681414172:ios:5aba51e440096c01c3f7d9</string>
</dict>
</plist>